/*First Mobile*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    line-height: 1.6;
    background-color: #f1efef;
    padding: 5px auto;
}
.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 100%;
}
.header h3{
    text-align: center;
    color: #ffffff;
    background-color: #feb3cb;
    font-size: 1.2rem;
    margin:0px;
}
.form-header p{
    text-align: center;
    border-bottom: 1px solid rgb(248, 180, 217);
}
.form-title{
    text-align: center;
}
input[type=text],input[type=number],
input[type=textarea], input[type=date]{
    width: 95%;
}
.block{
    width: 95%;
    height: 60px;
}
.requiared-field{
    color: red;
}

.btn-submit{
    background-color: #feb3cb;
    width: 120px;
    height: 25px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor:pointer ;
    
    
}
.btn-submit:hover{
    background-color: #f4cbd8;
    color: rgb(19, 19, 19);
    transition: 0.5s;
}

/* TABLET 768px en adelante */
@media (min-width: 768px){

}
/* DESKTOP GRANDE (1440px+) */
@media (min-width: 1154px) and (max-width:2561px) {
.box-input label{
    margin: 0;
    padding: 2px;
    box-sizing: 0;
}
input[type="text"], 
input[type="number"], 
input[type="textarea"], 
input[type="date"]
 {
    width: 95.1%;
}

}
