/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;    
}
body{
    background-color: #e0dee0e7;
}


h1,
h2,
h3,
h4,
h5{
    color: #333;
}
p,label{
    color: #444;
}
input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
textarea{
    padding: 10px 5px;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 400px;
}
/*page header*/

.header{
 height: 100px;
 padding: 20px;
 background-color: #ff9ae7;
 text-transform: uppercase;
 text-align: center;
}
.header h3{
    color: #fff;
    margin-top: 0;
}
.form-container{
    background-color: #fcfcfc;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
    padding: 20px ;
}
.form-header{
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}
.form-header p{
    color: #ff9ae7;
    border-bottom: 2px solid #ff9ae7 ;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}
.form-body{
    padding: 30px;
}
.form-title{
    margin-bottom: 15px;
}
.form-body p{
    margin-bottom: 20px;
}
.requiared-field{
color: #ed0000;
}
.box-input{
    margin-bottom: 35px;
}
.block{
    display: block;
}
.optional-box{
    display: inline-block;
    margin: 0 30px 30px 0;
}
.optinal-list li{
    list-style: none;
    margin-bottom: 5px;
}
.box-input{
    margin-bottom: 15px;
}
.btn-submit{
    background-color: #ff9ae7;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn-submit:hover{
        background-color: #fff;
        border-color: #ff9ae7;
        color: #ff9ae7;
}

 /* móviles */ 
@media (max-width: 600px) { 
.header h3{
    margin-left: 45px;
}
    .form-container {
        background-color: #fcfcfc;
        width: 90%;
        margin: 0 13px auto;
        position: relative;
        top: -62px;
        padding: 20px;
    }
}
/* tablets */ 
@media (min-width: 601px) and (max-width: 1024px) {
 
    .form-title {
    margin-bottom: 15px;
    text-align: center;
}
.form-body p {
    margin-bottom: 20px;
    text-align: center;
}
}
 
/* escritorio */
@media (min-width: 1025px) { 

 }
